git+https://github.com/cedadev/ceda-elasticsearch-tools
docopt==0.6.2
elasticsearch==7.12.0
git+https://github.com/cedadev/ceda-fbs
git+https://github.com/cedadev/nappy
git+https://github.com/cedadev/rabbit-index-ingest