brotlipy==0.7.0
certifi==2020.12.5
chardet==3.0.4
click==6.7
cycler==0.10.0
cytoolz==0.11.0
docopt==0.6.2
elasticsearch==7.12.0
git+https://github.com/cedadev/ceda-elasticsearch-tools
git+https://github.com/cedadev/ceda-fbs
git+https://github.com/cedadev/nappy
git+https://github.com/cedadev/rabbit-index-ingest@0e83f8a6#egg=rabbit_indexer
HeapDict==1.0.1
locket==0.2.0
pandas==1.2.3
partd==1.1.0
pika==1.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests-aws4auth==0.9
tqdm==4.60.0
voluptuous==0.11.5
xmltodict==0.12.0
zict==2.0.0
