# Run this to compile to requirements.txt
# uv pip compile --allow-unsafe --no-annotate --output-file=requirements.txt --resolver=backtracking --no-strip-extras requirements.txt.in --python-version=3.11 --python=3.11 --upgrade

anytree==2.8.0
brotlipy==0.7.0
certifi==2020.12.5
cfdm==1.11.1.0
cf-python==3.16.2
cftime==1.6.2
cfunits==3.3.7
chardet==3.0.4
click==7.0
cycler==0.10.0
cytoolz>=0.11.0
ceda-directory-tree==1.0.0
docopt==0.6.2
elasticsearch==7.12.0
git+https://github.com/cedadev/ceda-elasticsearch-tools@v2.3.4
git+https://github.com/cedadev/ceda-fbs
git+https://github.com/cedadev/nappy@a0809c4569e9829fa78bcfc9607b649d5cca2309
git+https://github.com/cedadev/rabbit-index-ingest#egg=rabbit_indexer
HeapDict==1.0.1
ldap3==2.9
locket==0.2.0
netcdf-flattener==1.2.0
numpy==1.22.0
pandas==1.2.3
partd==1.2.0
pika==1.2.0
pyasn1==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML>=5.4.1
requests-aws4auth==0.9
tqdm==4.60.0
voluptuous==0.11.5
xarray==0.17.0
xmltodict==0.12.0
zict==2.0.0

# These deps came from environment.yaml
scitools-iris>=3.0.1,<=3.1
netcdf4==1.6.5
pyhdf>=0.10.2
python-dateutil==2.8.1
python-magic==0.4.22
requests==2.25.1
xmltodict==0.12.0
